@model BDA.ViewModel.UMAViewModel

<div id="pnl_main_form" class="widget-body">
    <div class="padding-left-20 padding-right-20">
        <div class="row flex-row">
            <div class="col-xl-12 col-md-12">
                <div class="table-responsive">
                    <div class="widget has-shadow">
                        <div class="widget-body">
                            <div class="padding-left-20 padding-right-20">
                                <div class="form-group row">
                                    <div class="col-sm-2 form-control-label d-flex align-items-center">Ref No.</div>
                                    <div class="col-xl-4">
                                        @Html.TextBoxFor(x => x.RefNo, new { @class = "form-control", @readonly = "readonly" })
                                        @Html.HiddenFor(x => x.BankDraftId)
                                        @Html.HiddenFor(x => x.Id)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-2 form-control-label d-flex align-items-center">Reason for UMA<span class="text-danger ml-2">*</span></div>
                                    <div class="col-xl-4">
                                        @Html.DropDownListFor(x => x.ReasonUMA, ViewBag.ReasonUMAList as SelectList, "Please select reason", new { @class = "form-control select2", id = "ddlUMAReason", required = "required" })
                                    </div>
                                </div>
                                <div id="reasonOthers" class="form-group row" style="display:none">
                                    <div class="col-sm-2 form-control-label d-flex align-items-center">Others:<span class="text-danger ml-2">*</span></div>
                                    <div class="col-xl-4">
                                        @Html.TextBoxFor(x => x.OthersRemark, new { @class = "form-control", required = "required" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-2 form-control-label d-flex align-items-center">
                                        Proj No/ Assignment/ BD No/ Ref No<span class="text-danger ml-2">*</span>
                                    </div>
                                    <div class="col-xl-4">
                                        <div class="input-group">
                                            @Html.TextBoxFor(x => x.ProjectNo, new { @class = "form-control", @placeholder = "Search Proj No.", required = "required" })
                                            <span class="input-group-btn">
                                                <input type="button" id="btnLoadProjDetails" class="btn btn-outline-primary mr-1 mb-2" value="Search" data-toggle="modal" data-target="#search-results-modal">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 form-control-label d-flex align-items-center">BD No.<span class="text-danger ml-2">*</span></div>
                                    <div class="col-xl-4">
                                        @Html.TextBoxFor(x => x.BDNo, new { @class = "form-control", required = "required" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-2 form-control-label d-flex align-items-center">BD Requestor's Name</div>
                                    <div class="col-xl-4">
                                        @Html.TextBoxFor(x => x.BDRequesterName, new { @class = "form-control", disabled = "disabled" })
                                    </div>
                                    <div class="col-sm-2 form-control-label d-flex align-items-center">ERMS Document No.</div>
                                    <div class="col-xl-4">
                                        @Html.TextBoxFor(x => x.ERMSDocNo, new { @class = "form-control", @readonly = "readonly", type = "number" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-2 form-control-label d-flex align-items-center">Company Code<span class="text-danger ml-2">*</span></div>
                                    <div class="col-xl-4">
                                        @Html.TextBoxFor(x => x.CoCode, new { @class = "form-control", @readonly = "readonly", required = "required" })
                                    </div>
                                    <div class="col-sm-2 form-control-label d-flex align-items-center">Business Area<span class="text-danger ml-2">*</span></div>
                                    <div class="col-xl-4">
                                        @Html.TextBoxFor(x => x.BA, new { @class = "form-control", @readonly = "readonly", required = "required" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-2 form-control-label d-flex align-items-center">Name on BD<span class="text-danger ml-2">*</span></div>
                                    <div class="col-xl-4">
                                        @Html.TextBoxFor(x => x.NameOnBD, new { @class = "form-control", disabled = "disabled" })
                                    </div>
                                    <div class="col-sm-2 form-control-label d-flex align-items-center">BD Amount<span class="text-danger ml-2">*</span></div>
                                    <div class="col-xl-4">
                                        @Html.TextBoxFor(x => x.BDAmount, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>